@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	min-height: 1000px;
}
.clr
{
	float: none;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	color: #fff;
	font-size: 30;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
}
header.sticky
{
	padding: 5px 100px;
	background: #fff;
	border-bottom: 1px solid (0,0,0,.1);
}
header .logo
{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transform: 0.6s;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #FFF;
	letter-spacing: 2px;
	font-weight: 300;
	transform: 0.6s;
}
header ul li a:hover
{
	color: #C0C0C0
}
header.sticky .logo,
header.sticky ul li a
{
	color: #000;
}
.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(Images/bg.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h2
{
	color: #FFF;
	font-size: 40px;
	text-align: center;
	line-height: 1em;
	padding-left: 700px;
}
.banner h1
{
	color: #FFF;
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	padding-left: 20px;
}

.banner #login
{
	position: absolute;
	color: #FFF;
	background: linear-gradient(#10A5F5, #00DBFF);
	font-weight: bold;
	border: none;
	border-radius: 7px;
	height: 40px;
	width: 150px;
  	top: 56%;
  	right: 32%;
}

.banner #register
{
	position: absolute;
	color: #FFF;
	background: linear-gradient(#10A5F5, #00DBFF);
	font-weight: bold;
	border: none;
	border-radius: 7px;
	height: 40px;
	width: 150px;
  	top: 56%;
  	right: 23%;
}

.banner #register:hover
{
	color: #C8C8C8
}

.banner #login:hover
{
	color: #C8C8C8
}

.faq
{
	background-color: #152238;
	color: white;
	text-align: center;
	padding-top: 40px;
	font-size: 40px;
}

.QA
{
	color: white;
	text-align: center;
	font-size: 25px;
}
.virus
{
	font-size: 16px;
}

.vids
{
	background-color: #152238;
	text-align: center;
	color: white;
	padding-top: 40px;
	font-size: 40px;
}

#yt
{
	position: absolute;
	top: 115%;
	right: 20%;
}

#desc
{
	float: left;
	line-height: 1em;
	text-align: center;
	font-size: 20px;
	margin-left: 400px;
	margin-top: 40px;
	padding: 30px;
	border: dotted 3px;
	
}

